* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    overflow: auto;
    min-height: 750px;

}


/* ------MOBILE VIEW------ */

.main {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 2%;
    transition-duration: 500ms;
    background-image: url(assets/web-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: auto;
}

/* home content */
.home {
    padding-top: 20%;;
    display: block;
    margin: auto;
    width: 75%;
}

/* name heading */
.name {
    color: #58CAF0;
    text-shadow: rgba(0,0,0,0.5);
    text-align: center;
}

/* profile photo container */
.photo-container {
    display: block;
    background-color: rgba(0,0,0,0.2);
    border-style: hidden;
    border-radius: 10px;
    position: relative;
    margin: 20% auto;
}

/* profile description */
.desc {
    display: block;
    margin: auto;
    width: 100%;
    background-color: rgba(110,110,110,0.8);
    border-style: hidden;
    border-radius: 10px;
    position: relative;
    text-align: center;
    padding: 0;
    font-size: 20px;
}

.desc li {
    list-style: none;
    color: #58CAF0;
    font-weight: bold;
    margin: 10px;
}

.buttons {
    position: absolute;
    float: initial;
    padding: 0;
    margin: auto;
    transform: translateX(-120px);
    left: 50%;
    display: block;
    width: 240px;
    margin-top: 5%;
}

.button {
    margin: 2%;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    border-style: none;
    border-radius: 10px;
    color: #58CAF0;
    font-weight: bold;
    padding: 10px 5px
}


/* -----ABOUT SECTION----- */
.about-left {
    opacity: 60%;
    position: absolute;
    width: 100%;
    height: 85%;
    z-index: 1;
    top: -85%;
    left: 0;
    transition-duration: 500ms;
    padding-bottom: 0;
    padding-top: 30px;
    background-color: rgba(110,110,110,0.8);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    overflow: auto;
    background-repeat: no-repeat;
}

.about-left h2 {
    color: #58CAF0;
    text-shadow: rgba(0,0,0,0.5);
    text-align: center;
}

.bio {
    color: #58CAF0;
    font-size: medium;
    text-shadow: rgba(0,0,0,1);
    font-weight: bold;
    margin-top: 50px;
    text-align: justify;
    margin: 10px;
}

#nav-about-exit {
    margin: 2%;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    border-style: none;
    border-radius: 10px;
    color: #58CAF0;
    font-weight: bold;
    padding: 10px 5px;
    left: 35%;
}

/* -----PROJECTS SECTION----- */
.projects-bottom {
    opacity: 60%;
    position: absolute;
    width: 100%;
    height: 85%;
    z-index: 1;
    top: -85%;
    left: 0;
    transition-duration: 500ms;
    padding-bottom: 0;
    padding-top: 30px;
    background-color: rgba(110,110,110,0.8);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    overflow: auto;
    background-repeat: no-repeat;
}

.projects-container {
    position: relative;
}

.projects-bottom h2 {
    color: #58CAF0;
    text-shadow: rgba(0,0,0,0.5);
    text-align: center;
    position: relative;
}

.projects {
    display: inline-block;
    margin: auto;
    width: 100%;
    border-style: hidden;
    border-radius: 10px;
    position: relative;
    text-align: center;
    padding: 0;
    font-size: 20px;
}

.projects li a {
    display: block;
    width: 200px;
    text-align: center;
    margin: auto;
    font-weight: bold;
    color: #58CAF0;
    font-size: x-large;
    position: relative;
}

.projects img {
    width: 100%;
    margin-top: 50px;
    position: relative;
}

/* -----CONTACT SECTION----- */
.contact-right {
    background-color: #6E6E6E;
    opacity: 60%;
    position: absolute;
    margin: 25% 0 0 0;
    width:100%;
    height: 150%;
    z-index: 1;
    top: 0;
    /* top: -100%; */
    transition-duration: 500ms;
    padding-bottom: 0;
    padding-top: 30px;
    background-color: rgba(110,110,110,0.8);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.contact-right h2 {
    color: #58CAF0;
    text-shadow: rgba(0,0,0,0.5);
    text-align: center;
}






.exit-container {
    position: relative;
    float: initial;
    padding: 0;
    margin: auto;

    display: block;
    width: 13%;
    margin-top: 5%;
    top: -90%;
}

.nav-projects-button {
    margin: 2%;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    border-style: none;
    border-radius: 10px;
    color: #58CAF0;
    font-weight: bold;
    padding: 10px 5px;
}



/* buttons after breakpoint */
/* .buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    text-align: center;
}
.buttons button {
    margin:10px 37px 30px 37px;
    cursor: pointer;
    width: 215px;
    height: 82px;
    background-color: rgba(0,0,0,0.5);
    border-style: none;
    border-radius: 10px;
    color: #58CAF0;
    font-weight: bold;
    font-size: larger;
} */
